<% if user_signed_in? %>
  <div class="container mt-5">
    <h1 class="text-center">Homepage</h1>
  </div>
<% else %>
  <div class="container mt-5">
    <div class="text-center">
      <h3>Witamy na portalu rozgrywek sportowych, ligi akademickiej PRz!</h3>
    </div>
    <div class="mt-4">
      <p class="lead">
        Witamy na portalu rozgrywek sportowych Liga Akademicka PRz! Nasza platforma stanowi centralne miejsce dla pasjonat贸w sportu z Politechniki Rzeszowskiej, czc spoeczno akademick w fascynujcej przygodzie rywalizacji sportowej.
      </p>

      <p>
        <strong>Dlaczego warto do nas doczy:</strong>
      </p>

    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-start align-items-center">
        <span class="emoji me-3"></span>
        Sportowe Wyzwania: Dowiadcz intensywnych emocji podczas rozgrywek r贸偶norodnych dyscyplin sportowych, od futbolu przez koszyk贸wk, po naukowe turnieje quizowe.
      </li>
      <li class="list-group-item d-flex justify-content-start align-items-center">
        <span class="emoji me-3"></span>
        Zjednocz Spoeczno: Liga Akademicka PRz jest miejscem, gdzie studenci, wykadowcy i pracownicy mog spotyka si w duchu rywalizacji.
      </li>
      <li class="list-group-item d-flex justify-content-start align-items-center">
        <span class="emoji me-3"></span>
        led藕 Wyniki Online: Bd藕 na bie偶co z wynikami i statystykami swojej dru偶yny oraz innych uczestnik贸w za porednictwem naszego nowoczesnego portalu internetowego.
      </li>
      <li class="list-group-item d-flex justify-content-start align-items-center">
        <span class="emoji me-3"></span>
        Imprezy i Turnieje: Opr贸cz ligowych rozgrywek, organizujemy tak偶e eventy, turnieje tematyczne i wiele innych wydarze, aby urozmaici sportowe dowiadczenie.
      </li>
    </ul>
      <p class="mt-3">
        Docz do naszej ligi i bierz udzia w ekscytujcej podr贸偶y penej sportowych wyzwa, integracji spoecznej i niezapomnianych chwil na Politechnice Rzeszowskiej!
      </p>
    </div>
  </div>

  <style>
  .list-group-item {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding-left: 0;
  }

  .emoji {
    font-size: 1em;
  }
</style>
<% end %>
